html{
  font-size: 16px;
}
.custom{
  padding: 1rem 1rem 1rem;
}
.time-zone{
 @extend .custom;
}
.my-label{
  display: block;
}
.my-form-group{
  margin: 0;
}
.text{
  font: bold 1.1rem Arial;
  color: #4d5257;
  padding-left: 1rem;
}